body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
header {
    background-color: #97c3d1;
    color: #fff;
    padding: 10px;
        /*Aplicamos el display flex*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    position: sticky;   /* Закрепление меню 2 строчки*/
    top: 0;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .menu a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    /*0 px de arriba y de izquierda y derecha de 10 px*/
    padding: 0 10px;
    transition: 0.4s;
}

  .show-menu,
  .hide-menu {
      font-size: 30px;
      cursor: pointer;
      display: none;
      transition: 0.4s;
  }

  /* Otras de las opciones que nos da el flex box es que podemos poner un orden */
  .show-menu {
      order: 1;
  }

  .menu a:hover,
  .show-menu a:hover,
  .hide-menu a:hover {
      color: #FDFEFE;
  }

  #check {
    display: none;
  }

  nav ul {
    list-style: none;   /*убираем маркеры списка*/
    padding: 0;
    margin: 0;  /*убираем верхнее и нижнее поле, равное 1em*/
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;    /*убираем подчеркивание текста ссылок*/
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #progress_line {
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    height: 4px;
    background: rgb(45, 24, 200);
}

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -30%);
    width: 10pv;
    height:80px;
  }

  .search-box {
    border-radius: 10px;
  }

  .author-photo {
    max-width: 800px;
    height: auto;
    /* height: 30%; */
  }

  .author-details p {
    /* height: 30%; */
    text-align: left;
  }

  main {
    background-color: #e4e3e3;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #97c3d1;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
   }

  .footer div {
    color: #f80303;
    text-align: left;
    font-size: 10px;
  }
  
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-row .photo img {
    max-width: 100%;
    height: auto;
    display: block;
  }



  .gallery-row .photo {
    max-width: 100%;
    /* width: 500px; */
    height: auto;
    flex: 0 0 40%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;

  }
  
  .gallery-row .photo p {
    max-width: 100%;
    font-family: Caveat;
    font-size: 1.6rem;
  }
  
  form input,
  form button {
    margin: 5px;
  }

  /*popup*/
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-content {
    max-width: 800px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
  }

  .popup-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  /* кнопка прокрутки вверх */
  .btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #673ab7;
    /* расстояние от правого края окна браузера */
    right: 20px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }


/* Responsive */
@media(max-width:768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  .author-info img {
    max-width: 100%;
  }

  .photo img {
    max-width: 100%;
  }

  /* HEADER */
  .show-menu,
  .hide-menu {
      display: block;
  }

  .menu {
      position: fixed;  
      width: 100%;
      /* height: 100vh;       */
      height: 10vh;
      background: #AED6F1;
      right: -100%;
      top: 0;
      text-align: center;
      /* Arriba y abajo 100 px y 0 izquierda y derecha */
      /* padding: 50px 0px; */
      /* Para que si agregemos otros elemento no se pisen agregamos un z-index */
      z-index: 100;
      transition: 0.8s;
      /* opacity: 0.9; */
  }

  .menu a {
      /* Мы заставляем их стоять в колонне */
      display: block;
      /* Чтоб немного разошлись */
      padding: 10px;
  }

  .hide-menu {
      position: absolute;
      top: 30px;
      right: 40px;
  }

  /* Используем псевдо Селектор (При проверке галочки)*/
  #check:checked~.menu {
      right: 0;
  }

}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}